.main-content {
  max-width: 600px;
  padding-top: 40px;
  padding-right: 40px;
  margin: 0 0 40px 250px;
}

.interaction {
	border: 1px solid #ececec;
	background-color: #2d2d2d;
	padding: 10px 20px;
	margin: 0px 0px 20px 0px;
}

.interaction:hover {
	
	background-color: #3a3a3a;
}

.interaction-img {
 	width: 100%;
 	max-height: 500px;
 	color:#fff;
 	background-repeat:no-repeat;
 	background-attachment:scroll;
	background-position:center center; 
	-webkit-background-size:cover; 
	-moz-background-size:cover; 
	background-size:cover; 
	-o-background-size:cover;
}

.interaction-title {
	color: #52b859;
	font-size: 40px;
	margin: 0px 0px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

.meta {
	color: #fff;	
	font-size: 18px;
	font-weight: 900;
}

.interaction-desc {
	color: #bcbcbc;
	font-size: 18px;
    line-height: 1.8;
}

.vote {
	width: 50px;
	padding-left: 10px;
	padding-right: 10px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
    -webkit-filter: invert(100%);
}

.vote:hover {
	width: 50px;
	padding-left: 0px;
	padding-right: 0px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

#info {
	padding-left: 20px;
}

#vote {
	padding: 10px 20px;
}

#score {
	padding-left: 48px;
}

.count {
	padding-right: 32px;
	padding-top: 0px;
	margin-top: 0px;
}