<template name="interaction">
    
    
    {{> interactionForm}}
    {{#each interaction}}
    
    <!--comment-->
    <div class="interaction">
        <div class="row">
            <div class=".col-sm-6 .col-md-5 .col-lg-6" id="info">
                <h1 class="interaction-title">{{interactionName}}</h1>
                <p class ="regular interaction-desc">{{interactionPost}}</p>
                <p class="meta">Author: {{auther}}</p>
                <p class="meta">Posted on: {{date}}</p>                
            </div>
            <div class =".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0" id="vote">
                <img src="upVote.png" class="vote" id="up">
                <img src="downVote.png" class="vote" id="down">
            </div>
            <div class ="row" id="score">
                <h3 class="count red block">{{upVoteScore}}</h3>
                <h3 class="count yellow block">{{downVoteScore}}</h3>               
            </div>
        </div>
        
        

        
    </div>
    <!--end comment-->
    {{else}}
    <h1>No Feed to Display</h1>
    {{/each}}

</template>