<template name="interactionForm">
    {{#if currentUser}}
    <!-- Feed Form -->
    <div id="interactionForm-wrap">
        <center>
            <form class="interaction-post">
                <h2 class="interactionForm-heading">Post to Feed</h2>
                <label for="interactionName" class="sr-only">Comment Subject</label>
                <input type="text" name="interactionName" id="interactionName" class="form-control" placeholder="Subject" maxlength="40">
                
                <label for="interactionPost" class="sr-only">Comment</label>
                <input type="text" name="interactionPost" id="interactionPost" class="form-control" placeholder="Comment" maxlength="140">
                
  
                
                <button class="btn btn-lg btn-success btn-block" type="submit">Post</button>
            </form>
        </center>
    </div>
    
    <!-- End Feed Form -->
    {{else}}
    <!-- Feed Form -->
     <div id="interactionForm-wrap">
        <center>
            <form class="interactionForm-post">
                <h2 class="form-signin-heading">Login to Post a Comment</h2>
                <a href="/" class="btn btn-md btn-primary" id="login-redit">Login</a>
            </form>
        </center>
    </div>   
    
    <!-- End Feed Form -->
    {{/if}}
</template>