<head>
	<meta charset="utf-8">
	<title>Jest - the humor community | Part 1</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
	user-scalable=no">

	<link href='http://fonts.googleapis.com/css?family=Montserrat:100,300,400,700' rel='stylesheet'
	type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700"
	rel="stylesheet">
</head>


<body>
   {{> bertAlert}}
   {{> sidebar}}
   <!-- This is where main layout is rendered-->
   
</body>

<template name="main_layout">
	<div class="main-content">
		{{> yield}}
	</div>
</template>