<template name = "profile">
    {{#if currentUser}}
    <!-- profile -->
    <div id ="profile-wrap">
        <center>
            <img src="github.svg" class="profile-img">
            <h1 class = "username">{{username}}</h1>
            <h3>{{email}}</h3>
                <div class ="" id="">
                    <img src="upVote.png" class="profile-vote" id="upVote">
                    <img src="downVote.png" class="profile-vote" id="downVote">
                </div>
                <div class="score" id="">
                    <h3 class ="count red block">{{userUpVoteScore}}</h3>
                    <h3 class ="count yellow block">{{userDownVoteScore}}</h3>
                </div>
        </center>
        
    </div>
   <!-- end profile -->
   
   {{#each userInteraction}}
       <!--interaction-->
    <div class="interaction">
        <div class="row">
            <div class=".col-sm-6 .col-md-5 .col-lg-6" id="info">
                <h1 class="interaction-title">{{interactionName}}</h1>
                <p class ="regular interaction-desc">{{interactionPost}}</p>
                <p class="meta">Author: {{auther}}</p>
                <p class="meta">Posted on: {{date}}</p>                
            </div>
            <div class =".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0" id="vote">
                <img src="upVote.png" class="vote" id="upVote">
                <img src="downVote.png" class="vote" id="downVote">
            </div>
            <div class ="row" id="score">
                <h3 class="count red block">{{upVoteScore}}</h3>
                <h3 class="count yellow block">{{downVoteScore}}</h3>               
            </div>
        </div>
        
        
        <button class="btn btn-sml btn-danger" id="delete-interaction">Delete Post</button>
    </div>
    <!--end interaction-->
    {{else}}
    <h1>No Feed to Display</h1>
    {{/each}}
    
{{/if}}
</template>